.margin_top {
    margin-top: 100px;
}

.margin_block {
    margin: 40px 15px 15px;
}

.info_block {
    padding: 15px 5px;
    border-radius: 6px;
    background: #f1f1f1;
}

.result_block {
    border-bottom: 2px solid #f1f1f1;
    margin: 30px;
}
