{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
<form method="post" class="register_form" action="">
    {% csrf_token %}

    <div class="form-group" style="width: 40%">
        <label for="id_username"> Имя:</label>
        {{ form.username|add_class:"form-control" }}
        {{ form.username.errors }}
    </div>

    <div class="form-group" style="width: 40%">
        <label for="id_password"> Пароль:</label>
        {{ form.password|add_class:"form-control" }}
        {{ form.password.errors }}
    </div>

    <input class="btn btn-success" type="submit" value="Войти" />
</form>
{% endblock %}